
## <summary>policy for lynthex</summary>


########################################
## <summary>
##	Transition to lynthex.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`lynthex_domtrans',`
	gen_require(`
		type lynthex_t, lynthex_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, lynthex_exec_t, lynthex_t)
')


########################################
## <summary>
##	Execute lynthex server in the lynthex domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lynthex_initrc_domtrans',`
	gen_require(`
		type lynthex_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, lynthex_initrc_exec_t)
')


########################################
## <summary>
##	Search lynthex lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lynthex_search_lib',`
	gen_require(`
		type lynthex_var_lib_t;
	')

	allow $1 lynthex_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read lynthex lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lynthex_read_lib_files',`
	gen_require(`
		type lynthex_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, lynthex_var_lib_t, lynthex_var_lib_t)
')

########################################
## <summary>
##	Manage lynthex lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lynthex_manage_lib_files',`
	gen_require(`
		type lynthex_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, lynthex_var_lib_t, lynthex_var_lib_t)
')

########################################
## <summary>
##	Manage lynthex lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`lynthex_manage_lib_dirs',`
	gen_require(`
		type lynthex_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, lynthex_var_lib_t, lynthex_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a lynthex environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`lynthex_admin',`
	gen_require(`
		type lynthex_t;
		type lynthex_initrc_exec_t;
		type lynthex_var_lib_t;
	')

	allow $1 lynthex_t:process { ptrace signal_perms };
	ps_process_pattern($1, lynthex_t)

	lynthex_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 lynthex_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, lynthex_var_lib_t)

')

