# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=LYNTHEX Core
Comment=LYNTHEX Core QT test network
GenericName=LYNTHEX Digital Currency QT client testnet network
Exec=lynthex-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/lynthex_testnet.png
MimeType=x-scheme-handler/xlyn;
Categories=X-Office;X-Finance;
Keywords=internet;lynthex;zxlyn;txlyn;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
